<div>
    <h1> Bakery Shop</h1>
    <ng-container *ngTemplateOutlet="showListTemplate ? listTemplate : formTemplate;"></ng-container>
    <div>
        <h3> Assignment 2</h3>
        <button (click)="getValue('address.office.state')"> Get Path</button>
        <p class="displayValue">{{displaypathValue}}</p>
    </div>

    <div>
        <h3> Assignment 3</h3>
        <button (click)="getLocations()"> Get Locations</button>
    </div>
</div>

<ng-template #listTemplate>
    <div class="container">
        <div class ="search-box">
            <label for ="searchItem"> Search</label>
            <input  placeholder="Type, Name or Topping" name = "searchItem" #searchItem type="text" (keyup.enter)="filterBakeryItems(searchItem.value)">
        </div>
        <div class= "add-new-item">
            <button (click)="addNewItem()"> Add Item</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    <i class='fas fa-angle-up ' [class.active]="sortType == 'idasc'" (click)= "sortById('asc')"></i>
                    Id
                    <i class='fas fa-angle-down' [class.active]="sortType == 'iddesc'" (click)="sortById('desc')"></i>
                </th>
                <th>
                    <i class='fas fa-angle-up' [class.active]="sortType == 'typeasc'" (click)="sortByType('asc','type') "></i>
                    Type
                    <i class='fas fa-angle-down' [class.active]="sortType == 'typedesc'" (click)="sortByType('desc','type')"></i>
                </th>
                <th>
                    <i class='fas fa-angle-up' [class.active]="sortType == 'nameasc'"  (click)="sortByType('asc','name')"></i>
                    Name
                    <i class='fas fa-angle-down' [class.active]="sortType == 'namedesc'"  (click)="sortByType('desc','name')"></i>
                </th>
                <th>
                    <i class='fas fa-angle-up' [class.active]="sortType == 'toppingasc'"  (click)="sortByType('asc','topping')"></i>
                    Topping
                    <i class='fas fa-angle-down' [class.active]="sortType == 'toppingdesc'"  (click)="sortByType('desc','topping')"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of finalBakeryList">
                <td>{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.name}}</td>
                <td>{{item.topping}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #formTemplate>
    <div class="go-back-container">
        <button class= "go-back" (click)="goToListView()"> Go to List View</button>
    </div>

    <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div class="form-input">
            <label for="itemId">Id</label>
            <input type="number" id="itemId" name="itemId" required [(ngModel)]="bakeryItem.id" #itemId="ngModel">
        </div>
        <div *ngIf="itemId.invalid && (itemId.dirty || itemId.touched || itemForm.submitted)" class="alert">
            Id is required
        </div>
        <div class="form-input">
            <label for="itemType">Type</label>
            <input type="text" id="itemType" name="itemType" required [(ngModel)]="bakeryItem.type" #itemType="ngModel" >
        </div>
        <div *ngIf="itemType.invalid && (itemType.dirty || itemType.touched || itemForm.submitted)" class="alert">
            Type is required
        </div>

        <div class="form-input">
            <label for="itemName">Name</label>
            <input type="text" id="itemName" name="itemName" required [(ngModel)]="bakeryItem.name" #itemName="ngModel">
        </div>
        <div *ngIf="itemName.invalid && (itemName.dirty || itemName.touched || itemForm.submitted)" class="alert">
            Name is required
        </div>

        <div class="form-input">
            <label for="itemTopping">Topping</label>
            <input type="text" id="itemTopping" name="itemTopping" required [(ngModel)]="bakeryItem.topping" #itemTopping="ngModel">
        </div>
        <div *ngIf="itemTopping.invalid && (itemTopping.dirty || itemTopping.touched || itemForm.submitted)" class="alert">
            Topping is required
        </div>

        <div class="form-input">
            <button type="submit">Submit</button>
        </div>

    </form>
</ng-template>
