h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.search-box {
    flex-grow: 2;
}

.search-box  label{
    padding-right: 20px;
}

.search-box  input{
    padding: 5px;
}

.add-new-item {
    flex-grow: 1;
    text-align: center;
}

button {
    padding: 5px;
    width: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    /* padding: 12px 0; */
    background-color: #9b9b9b;
    color: #fff;
  }

table td, table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

i.active{
    color: aqua;
}

.go-back-container {
    text-align: center;
    margin-bottom: 20px;
}

.go-back {
    width: 150px;
}

form {
    width: 400px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  form button {
      width: 100%;
  }

  .form-input {
      padding-top: 15px;
  }

  input .ng-invalid {
    border: 1px solid #ff0000;
  }


  .alert {
      color: #ff0000;
  }
  



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .container {
      flex-direction: column-reverse;
      /* justify-content: space-between; */
    }

    .search-box {
        flex-grow: 1;
    }

    .search-box input {
        width: 70%;
    }

    .add-new-item {
        flex-grow: 1;
        text-align: left;
        padding: 30px;
    }

    button {
        width: 100%;
    }
  }


.displayValue {
    margin-left: 10px;
}